/* Common range input */
/* input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
} */



/* === WebKit/Chrome range input === */
/* input[type="range"]::-webkit-slider-thumb {
    @apply bg-slate-100;
    width: 10px;
    height: 9px;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    border-radius: 4px;
    height: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-slate-500;
} */


/******** Firefox range input ********/
/* input[type="range"]::-moz-range-track {
    @apply bg-slate-500;
} */